.container{
  min-height:600px;
}
.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}
li {
  margin-bottom: 7px;
  font-size: 1.2em;
}
li > button {
  margin-left: 6px;
}
button > span {
  color: green;
}
.listHeader{
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.badge{
  background:none;
}
