<div data-ng-controller="myCrtl" class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h3>Bootstrap, Angular and Graphs tests <br><small>Collapsable and graphs tests</small></h3>
			<div class="panel panel-primary">
				<div class="panel-heading">
			  		<a href="#mainPanelCol" data-toggle="collapse" data-target="" class="clickable" data-ng-click="$event.preventDefault();">
			  			<i class="glyphicon glyphicon-chevron-up btn-primary"></i>
			  		</a>
			  		<span>
			  			Panel heading with title
			  		</span>
			  	
			  	</div>
			  	<div class="panel-body collapse in" id="mainPanelCol">
			    	Panel content
			  	</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
			  		<a href="#mainPanelCol2" data-toggle="collapse" data-target="" class="clickable" data-ng-click="$event.preventDefault();">
			  			<i class="glyphicon glyphicon-chevron-up btn-primary"></i>
			  		</a>
			  		<span>
			  			Panel heading with title 2
			  		</span>
			  	
			  	</div>
			  	<div class="panel-body collapse in" id="mainPanelCol2">
			    	Panel content 2
			  	</div>
			</div>

		</div>
	</div>
</div>